<footer>
    <div>
        created by <a href="https://twitter.com/imcolbyhall">colby hall</a>
    </div>
    <div class="social">
        <a href="https://github.com/colbyhall"><i class="fa-brands fa-github"></i></a>
        <a href="https://twitter.com/imcolbyhall"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/colbeyyy/"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="mailto:me@cobeh.com"><i class="fa-solid fa-mailbox"></i></a>
        <a href="/"><i class="fa-solid fa-id-card"></i></a>
    </div>
</footer>