<nav>
    <div class = "container">
        <a href='/' id="logo-btn">
            <div class="logo"></div>
        </a>

        <h1>Colby Hall</h1>

        <div class="spacer"></div>

        <div class = "button-container">
            <a href='/#skills'>Skills</a>
            <a href='/#projects'>Projects</a>
            <a href='/#resume'>Resume</a>
            <a href='/#contact'>Contact</a>
            <a href="/blog">Blog</a>
        </div>
    </div>

</nav>