[Unit]
Description=Service for running the website

[Service]
User=root
WorkingDirectory=/root/website
ExecStart=/root/website/target/release/website
Restart=always

[Install]
WantedBy=multi-user.target