[Unit]
Description=Service for running the website

[Service]
User=root
WorkingDirectory=/root/website
ExecStart=cargo run
Restart=always

[Install]
WantedBy=multi-user.target