<section class="container blog-width">
    <article>
        <header>
            <h1>{{title}}</h1>
            <h3>{{date}}</h3>
        </header>
        <section>
            {{{body}}}
        </section>
    </article>

    <hr>

    <script src="https://utteranc.es/client.js" repo="colbyhall/website" issue-term="url" label="Blog Comments"
        theme="github-light" crossorigin="anonymous" async>
        </script>
</section>