:root {
    --bg-color: #A2CDA5;
    --fg-color: #6D3232;
    --fg-color_h: #F18805;
    --fg-color1: #e7e7e7;
}

body {
    background: white;
    overflow-x: hidden;
    margin: 0;
    color: var(--fg-color);
    -webkit-font-smoothing: antialiased;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

a {
    color: var(--fg-color_h);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 12px;
    background: white;
}


::-webkit-scrollbar-thumb {
    background: 	#d6c4c4;
    border-radius: 10px;
}

h1, h2, h3 {
    margin: 0.5em 0em;
}

h1 {
    font-weight: 700;
    font-size: 2em;
}

p {
    color: var(--fg-color);
    font-size: 1.2em;
}

li {
    font-size: 1.2em;
}

strong, b {
    font-weight: 700;
}

.container {
    margin: 0 auto;
    width: auto;
    position: relative;
}

.is-three-fiths {
    width: 60%;
}

.article-width {
    width: 90%;
    margin-bottom: 2em;
}

@media screen and (min-width: 1344px) {
    .container {
        max-width: 1344px;
    }
    .article-width {
        width: 50%;
    }
}

article {
    margin-bottom: 4em;
}

.text-center {
    text-align: center;
}

blockquote {
    border-left: black solid 0.2em;
    padding-left: 0.5em;
}

code {
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    color: #F76C6C;
}

code .hljs {
    font-weight: initial;
    color: initial;
    font-size: 0.9em;
}

/* NAVBAR */

.spacer {
    display: block;
    margin: auto;
    position: relative;
}

nav {
    width: calc(100vw - 12px);
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 200;
}

nav .container {
    display: flex;
    flex-direction: row;
}

nav h1 {
    margin: 0;
    margin-left: 20px;
    color: #333;
    font-weight: 400;
    margin-top: 7px;
}

nav .logo {
    width: 48px;
    height: 48px;
    background: url('../images/favicon.png');
    background-size: cover;
    margin: 11px 0px;
}

nav .button-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

nav .button-container a{
    font-size: 13.33px;
    opacity: 1;
    transition: background, color .25s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
    color: var(--fg-color_h);
    font-weight: 600;
    text-decoration: none;
    padding: 0.5em 1em;
}

nav .button-container a:hover{
    background: #333;
    color: white;
}

.social > a {
    margin: 0em 0.2em;
}

/* landing */

#landing {
    background-image: url("../images/landing.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    height: calc(100vh - 20em);
    flex-direction: row;
    align-items: center;
    justify-content: center;

    display: flex;

    overflow: hidden;
}


#landing img {
    padding: 5em;
    border-radius: 100%;
}

#landing h1 {
    font-size: 24px;
    color: var(--fg-color_h);
}

#landing h2, #landing h3 {
    font-size: 60px;
    font-weight: 600;
    margin: 0;
}

#landing h2 {
    color: var(--fg-color1);
}

#landing h3 {
    color: var(--fg-color);
}

#landing p {
    max-width: 80%;
}

#projects {
    background: rgb(232,231,242);
    background: linear-gradient(215deg, rgba(232,231,242,1) 0%, rgba(218,205,159,1) 100%);

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
    padding: 3em 0em;
}

#projects #title {
    font-size: 60px;
    padding: 0em 2em;
    text-align: center;
}

#projects .project-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
}

@media screen and (min-width: 1775px) {
    #projects .project-container {
        flex-direction: row;
    }
}

#projects #see-more{
    /* color: var(--fg-color_h); */
    padding: 0.5em 1em;
    border-radius: 2em;
}

.project {
    background: #e3e3cd;
    width: 30em;
    padding: 2em;
    margin: 1em;
    border-radius: 1em;
    /* box-shadow: 0 0 1em -0.7em #222; */
}

.project iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    padding-top: 1em;
}

.project h1 {
    margin: 0;
    padding: 0;
}

.project h2 {
    margin: 0.2em 0;
}

.project .awards-list {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    display: flex;
    flex-wrap: wrap;
}

.project .awards-list img {
    width: 4em;
}

#contact {
    background: rgb(237,116,78);
    background: linear-gradient(153deg, rgba(237,116,78,1) 0%, rgba(83,91,213,1) 100%);

    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;

    color: white;

}

#contact h1 {
    padding-top: 0;
    margin-top: 0;
}

td {
    font-size: 1em;
    color:  white;
    padding: 0.2em 0em;
}

td a {
    color:  white;
}

td svg {
    height: 1em;
    color:  white;
    margin-right: 1em;
    margin-left: 2em;
}

#about {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    display: flex;

    background-image: url("../images/about.jpg");
    background-position: center;
    background-size: cover;

    color: white;
}

@media screen and (min-width: 1775px) {
    #about {
        flex-direction: row;
    }
}

#about .section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    padding: 2em;
    color: white;
}

#about .section p {
    color: white;
}


#about .collage {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    margin: 2em;

}

#about .collage .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

@media screen and (min-width: 1775px) {
    #about .collage {
        flex-direction: column;
    }
    #about .collage .row {
        flex-direction: row;
    }
}

#about .collage .row img {
    margin: 0.4em;
    border: white 8px solid;
}

#skills {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    color: rgb(253, 250, 239);

    background-color: #BCFF9C;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23BCFF9C' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23c2ec88' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23c5da77' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23c6c769' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23c4b55f' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23c1a456' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23bb9250' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23b3824c' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23a97248' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%239e6445' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23915643' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2383493f' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23743d3c' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23643237' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23542932' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23431f2c' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23331724' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23240F1C' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    padding: 3em 0em;
}

#skills p {
    color: rgb(253, 250, 239);
    text-align: center;
}

.skill h2 {
    font-size: 1.6em;
}

#skills p a {
    color: black;
}

#skills .main {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 1775px) {
    #skills .main {
        flex-direction: row;
    }
}

.skills {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#skills .main .games {
    margin: 0em 6em;
    margin-bottom: 3em;
}

#skills .main .games ul{
    margin: 0;
    padding: 0;
}

#skills .main .games ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skill ul {
    margin: 0;
    padding: 0;
}

.skill ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skill-list {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 1em;
    margin: 2em;
}

.skill-list .skill {
    margin: 0em 2em;
}

footer {
    text-align: center;
    padding: 1em;

    background: rgb(68,64,52);
    background: linear-gradient(90deg, rgba(68,64,52,1) 0%, rgba(59,48,48,1) 33%, rgba(73,69,55,1) 67%, rgba(68,64,52,1) 100%);
    color: white;

    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

footer > div {
    margin: 0em 1em;
}

footer p {
    color: white;
}

footer div {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
}

footer div p {
    color: white;
    padding: 0;
}

footer div svg {
    height: 1.5em;
    color:  white;
    margin-right: 0.5em;
    margin-left: 1em;
}