<section id="landing">
    <h1>Hi, my name is</h1>
    <h2>Colby Hall.</h2>
    <h3>I program and design games.</h3>
    <p>I'm a game develoepr focused on building unique emotional experiences. Currently, I'm building gameplay technology at <a href = "https://www.obsidian.net/">Obsidian</a>.</p>
</section>
