

<section id="landing">
    <img src="public/images/face.jpg">
    <div class="introduction">
        <h1>Hi, my name is</h1>
        <h2>Colby Hall</h2>
        <h3>I program video games</h3>
        <p>Currently, I'm building gameplay technology at <a href = "https://www.obsidian.net/">Obsidian Entertainment</a>.</p>
    </div>
</section>

<section id="about">
    <div class="section">
        <h1>About Me</h1>
        <p>I'm a home grown game developer with a passion for learning and pushing technical bondaries. I've worked on multiple projects of sizes varying from indie to AA. I have a deep passion for learning.</p>
        <p>I love to do more than just program, I'm an avid hiker, boulderer, and pet lover. I'm also married to the love of my life. </p>
        <p>I enjoy complex problems that I can immerse myself in. I'm always looking to chat about anything game making related. To read more about my thoughts, checkout my <a href="/articles">articles</a>. </p>

        <p>If you have any questions or inquiries don't be afraid to reach out.</p>
    </div>
    <div class="collage">
        <div class = "row">
            <img src="public/images/frank.jpg" width="300px">
            <img src="public/images/nature.jpg" width="250px">
            <img src="public/images/wife.jpg" width="350px">
        </div>
        <div class = "row">
            <img src="public/images/luma.jpg" width="250px">
            <img src="public/images/tot.jpg" width="350px">
            <img src="public/images/cats.jpg" width="300px">
        </div>
    </div>
</section>

<section id="skills">
    <div class="main">
        <div class="games">
            <h1>Games that I recommend</h1>
            <ul>
                <li>The Last of Us Part II</li>
                <li>Dark Souls</li>
                <li>Kerbal Space Program</li>
                <li>Factorio</li>
                <li>RimWorld</li>
            </ul>
        </div>
        <div class="skills">
            <h1>What do I have experience with?</h1>
            <div class="skill-list">
                <div class="skill">
                    <h2>Tools</h2>
                    <ul>
                        <li>Unreal Engine</li>
                        <li>Unity</li>
                        <li>Perforce</li>
                        <li>Git</li>
                        <li>Visual Studio</li>
                        <li>Jira</li>
                        <li>Confluence</li>
                        <li>Trello</li>
                    </ul>
                </div>

                <div class="skill">
                    <h2>Software Development</h2>
                    <ul>
                        <li>C++</li>
                        <li>C#</li>
                        <li>JavaScript</li>
                        <li>Python</li>
                        <li>Rust</li>
                        <li>Zig</li>
                        <li>Data Structures</li>
                        <li>Object Oriented Design Patterns</li>
                        <li>Data Oriented Design</li>
                        <li>Data Driven Design</li>
                        <li>Concurrency</li>
                    </ul>
                </div>

                <div class="skill">
                    <h2>Gameplay</h2>
                    <ul>
                        <li>Networking</li>
                        <li>Character Movement</li>
                        <li>Projectile Motion</li>
                        <li>Items & Inventory</li>
                        <li>Player & AI Combat Systems</li>
                        <li>AI Navigation & Behaviors</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <p>If you're interested of my thoughts on any of these topics email me at <a href="mailto:me@cobeh.com">me@cobeh.com</a></p>
</section>

<section id="projects">
    <h1 id="title">Projects I've collaborated on...</h1>
    <div class = "project-container">
        <div class = "project">
            <h1>Avowed</h1>
            <h2>2024</h2>
            <iframe  src="https://www.youtube.com/embed/YS8n-pZQWWc" title="Avowed - Reveal Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>
                Avowed is an upcoming action role-playing video game developed by Obsidian Entertainment and published by Xbox Game Studios. Avowed will take place in the same universe as Pillars of Eternity in the world of Eora. The game is currently scheduled to be released in 2024 for Windows PC and Xbox Series X and Series S.
            </p>
            <h2>How am I contributing?</h2>
            <ul>
                <li>Prototyping</li>
                <li>Movement Systems</li>
                <li>Input Systems</li>
                <li>Damage Systems</li>
                <li>Debug Tools</li>
                <li>AI Behaviors</li>
                <li>Navigation Systems</li>
            </ul>
            <h2>Work Period</h2>
            <p>August 2019 - Current</p>
        </div>
        <div class = "project">
            <h1>The Outer Worlds</h1>
            <h2>October 25, 2019</h2>
            <iframe src="https://www.youtube.com/embed/DcYL2HavLVA" title="The Outer Worlds – Official Announcement Trailer | The Game Awards 2018" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>
                The Outer Worlds is an award-winning single-player RPG from Obsidian Entertainment and Private Division. As you explore a space colony, the character you decide to become will determine how this player-driven story unfolds. In the colony's corporate equation, you are the unplanned variable.
            </p>
            <h2>How did I contribute?</h2>
            <ul>
                <li>Tutorial System</li>
                <li>Item Systems</li>
                <li>Progression Systems</li>
                <li>RPG Systems</li>
                <li>Bug fixing and polish</li>
            </ul>
            <h2>Work Period</h2>
            <p>January 2019 - August 2019</p>
        </div>
        <div class = "project">
            <h1>Islands of Nyne</h1>
            <h2>July 12th, 2018</h2>
            <iframe src="https://www.youtube.com/embed/imwEgAzJGSs" title="ISLANDS OF NYNE: BATTLE ROYALE - Official Gameplay Trailer | Early Access 2018" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>
                 Islands of Nyne is a fast-paced, first-person battle royal game with roots
                 in Counterstrike, Halo, and COD. Our goal is to bring a skill-based FPS to the 
                 battle royal genre, where the adrenaline and mastery of shooters meets 
                 the tension and strategy of battle royal. With little to no RNG, Islands of Nyne 
                 is pushing to be the leading edge in Battle Royale esports 
            </p>
            <h2>How did I contribute?</h2>
            <ul>
                <li>Network Optimization</li>
                <li>Recoil and Recoil Pattern tool</li>
                <li>UI/UX</li>
                <li>Movement Client Prediction</li>
                <li>Inventory System and Replication</li>
                <li>First and Third Person Animation Programming (Including IK, FK)</li>
                <li>Swimming</li>
                <li>Vivox SDK Implementation</li>
            </ul>
            <h2>Work Period</h2>
            <p>June 2017 - July 2018</p>
        </div>
    </div>
    <p id="see-more">I'm always toying around on Github. You can check that out <a href="https://github.com/colbyhall">here</a>.</p>
</section>