<section id="landing">
    <h1>Game Developer, Systems Engineer & Designer</h1>
    <h2>I design and develop Video Games.</h2>
    <a href="#intro"><b>Introduction<i class="far fa-angle-down"></i></b></a>
</section>

<section id="intro">
    <div class="container is-three-fiths text-center">
        <h1>Hello, I'm Colby.</h1>
        <h2>I'm a home grown game developer trying to make a difference in this industry. I've worked on Indie Games along with AAA Games. I've worked on collaborated on large and small teams. Wrote prototypes and fully iterated on a feature until shippable quality. I'm open minded, up to new ideas, and a hard worker. </h2>
    </div>
</section>

<section id="skills">
    <div class="box text-center">

        <section>
            <i class="fas fa-terminal"></i>
            <h1>Developer</h1>
            <ul>
                <li>Unreal Engine 4</li>
                <li>Unity</li>
                <li>Source SDK</li>
                <li>Photoshop</li>
                <li>Perforce</li>
                <li>Git</li>
            </ul>
        </section>

        <section>
            <i class="fas fa-cogs", style="font-size: 54px"></i>
            <h1>Engineer</h1>
            <ul>
                <li>C/C++ (OpenGL, Win32, SDL)</li>
                <li>C#</li>
                <li>Java (LWJGL)</li>
                <li>NodeJS (Electron, Express, Mongoose)</li>
                <li>Python</li>
                <li>GoLang</li>
                <li>Vivox SDK</li>
                <li>Steamworks</li>
            </ul>
        </section>

        <section>
            <h2>Designer</h2>
            <ul>
                <li>UI/UX</li>
                <li>Core Gameplay Architecture</li>
                <li>Rapid Prototyping</li>
            </ul>
        </section>
    </div>
</section>